*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
.container{
    background-image: url(coverphoto1.jpg);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: bottom center;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    color: yellow;
}
.always{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100px;
    background-color: black; 
    display: flex;
    align-items: center;
    justify-content: space-around; 
}
.always p{
    width: 600px;
    font-size: 45px;
    color: #fff;
    font-weight: bolder;
    font-family: cursive;
    
}
.always ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
.always ul li::after{
    content: "";
    height: 3px;
    width: 0%;
    position: absolute;
    background: red;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}
.always ul li:hover:after{
    width: 100%;
}
.always ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    
}

.container h1{
    align-self: center;
    font-size: 60px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.container h2{
    font-size: 40px;
    font-weight: bold;
    font-style: italic;
}
.container h3{
    font-size: 25px;
    font-weight: bold;
    font-style: italic;
}
@keyframes slider{
    from{ 
        transform: translateX(-600px);
    }
    to{
        transform: translateX(0);
    }
}
.animated, .btn{
    animation: slider 3s;
}
.middlepart{
    display: flex;
    flex-direction: row;
    width: 80%;
    margin: auto;
    
    background-color: blueviolet;
    
}
.food img{
    width: 100%;
    border-radius: 15px;
}
.food{
    margin: 10px;
    text-align: center;
    
}
.satauri{
    width: 100%;
    height: 100vh;
    background-color: pink; 
}
.offer{
    height: 100px;
    background-color: blueviolet;
    padding-bottom: 150px;
}
.offer h2{
    text-align: center;
    padding-top: 170px;
    color: pink;
}
.footer{
    width: 100%;
    background-color: blueviolet;
    text-align: center;
    padding: 10px;
    color: #fff;
}
.footer a{
    text-decoration: none;
    color: #fff;
}



